body {
    background-image: url('../img/wepik-neon-cool-mobile-wallpaper-202311110755328uyh.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
header {
    background: 0;
    background-image: url('../img/wepik-neon-cool-mobile-wallpaper-202311110755328uyh.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

header a.active, header a:hover {
    color: dodgerblue;
}

header a.logos:hover path {
    stroke: dodgerblue;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 1em;
}

div.block {
    width: 15em;
    height: 10em;
    border: 1px solid;
}
