<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MpiSoftware</title>
    <link rel="icon" href="../static/img/mpi.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <main>
        <div class="size">
            <header>
                <div class="box">
                    <div class="dropdown"> talk to us
                        <span class="left-icon"></span>
                        <span class="right-icon"></span>
                        <div class="items">
                            <a href="" style="--i:1">
                                <span></span>
                                whatsapp
                            </a>
                            <a href="" style="--i:2">
                                <span></span>

                                Mail
                            </a>
                            <a href="" style="--i:3">
                                <span></span>
                                Telegram</a>
                        </div>
                    </div>
                </div>
                <!-- <a href="https://wa.me/qr/ESOPRE5R2OZQE1" target="_blank">
                    <i class="bi bi-whatsapp"></i>
                    talk to us
                </a> -->
            </header>
            <div class="main">
                <div class="header">
                    <div id="mylogos"></div>
                    <h1>MpiSoftware</h1>
                </div>
                <div class="medium">
                    <div class="medium-header">
                        <div class="med-head">
                            Marvels of Programming
                            <br>Ingenuity Software
                        </div>
                        <div class="med-head-foot">
                            <span class="acts">
                                <span class="acts-fi"><i class="bi bi-check2-all"></i></span>
                                <span>we're at your service</span>
                            </span>
                            <span class="acts">
                                <span class="acts-fi"><i class="bi bi-check2-all"></i></span>
                                <span>we understand your needs</span>
                            </span>
                            <span class="acts">
                                <span class="acts-fi"><i class="bi bi-check2-all"></i></span>
                                <span>we make your dreams come true</span>
                            </span>
                        </div>
                    </div>
                    <div class="right">infinite constant of possibility</div>
                    <!-- <div class="med-foot">
                        <span id="left">harmonious fusion of innovation<br>and infinite perfection</span>
                        <a href="https://empi.hashnode.dev/" id="power">
                            <i class="bi bi-arrow-down"></i>
                        </a>
                        <span class="hash">MpiSoftware Hashnode</span>
                    </div> -->
                </div>
            </div>
            <nav>
                <a href="index.html" id="home">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 155 100" height="30" width="30">
                        <path d="M10 60L10 10Q10 05 05 05L25 05 35 20 45 05 65 05
                                Q60 05 60 10L60 75Q60 80 65 80L90 80Q95 80 95 75
                                L95 10Q95 05 90 05L110 05Q105 05 105 10L105 75
                                Q105 80 110 80L145 80Q150 80 150 75L150 85
                                Q150 90 145 90L10 90Q05 90 05 95L05 85Q05 80 10 80
                                L45 80Q50 80 50 75L50 20 35 40 20 20 20 45
                                Q10 45 10 60z"/>
                    </svg>
                </a>
                <div class="other">
                    <a href="about.html">About</a>
                    <a href="services.html">Services</a>
                    <a href="contact.html">Contacts</a>
                    <a href="https://empi.hashnode.dev/">MpiHashnode</a>
                </div>
            </nav>
        </div>
    </main>

    <script src="../static/js/drop.js" ></script>
</body>
</html>