<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MpiSoftware</title>
        <link rel="icon" href="../static/img/mpi.svg" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/base.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
<body>
    <main class="service">
        <div class="present">
            <section id="wamw" class="active">
                <div class="prs-head">
                    <h1>Web and mobile web development</h1>
                    <div>
                        <a href="#tc" class="next">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <a href="#dma" class="next">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="party">
                    <div class="long">
                        <div class="long-front">
                            <div class="dif-s">
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-cart-check"></i></span>
                                    <span>showcase</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-substack"></i></span>
                                    <span>Blog</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-cart4"></i></span>
                                    <span>E-commerce</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-bank2"></i></span>
                                    <span>institutional website</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-people"></i></span>
                                    <span>Social networks</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-cloud-download"></i></span>
                                    <span>Streaming</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-mortarboard"></i></span>
                                    <span>Online education</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-three-dots"></i></span>
                                </a>
                            </div>
                            <div class="infos">
                                we design customer-friendly, intuitive and secure websites
                            </div>
                        </div>
                    </div>
                    <div class="short">
                        <div class="short-front">
                            <h3>see the catalog</h3>
                            <a href="#"><i class="bi bi-arrow-down-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="dma">
                <div class="prs-head">
                    <h1>Database design, modeling and administration</h1>
                    <div>
                        <a href="#wamw" class="next">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <a href="#dmd" class="next">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="party">
                    <div class="long">
                        <div class="long-front">
                            <div>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-diagram-3"></i></span>
                                    <span>Modelizations</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-database-fill-gear"></i></span>
                                    <span>Administrations</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-device-hdd"></i></span>
                                    <span>Treatments</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-sort-up-alt"></i></span>
                                    <span>Statistical analysis</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-database-lock"></i></span>
                                    <span>Security</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-three-dots"></i></span>
                                </a>
                            </div>
                            <div class="infos">
                                your data, a standard and a priority for us
                            </div>
                        </div>
                    </div>
                    <div class="short">
                        <div class="short-back"></div>
                        <div class="short-front">
                            <h3>Trust us with your data</h3>
                            <a href="#"><i class="bi bi-arrow-down-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="dmd">
                <div class="prs-head">
                    <h1>Desktop and Mobile Development</h1>
                    <div>
                        <a href="#dma" class="next">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <a href="#duxi" class="next">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="party">
                    <div class="long">
                        <div class="long-front">
                            <div>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-calendar2-day"></i></span>
                                    <span>Planning</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-phone-flip"></i></span>
                                    <span>Prototyping</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-feather"></i></span>
                                    <span>Design</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-question-circle"></i></span>
                                    <span>Tests</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-rocket"></i></span>
                                    <span>Deployment</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-three-dots"></i></span>
                                </a>
                            </div>
                            <div class="infos">
                                Our implementation capacity is variable in terms of support but also multi-platform.
                            </div>
                        </div>
                    </div>
                    <div class="short">
                        <div class="short-front">
                            <h3>Request a quote</h3>
                            <a href="#"><i class="bi bi-arrow-down-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="duxi">
                <div class="prs-head">
                    <h1>Development Ux/Ui</h1>
                    <div>
                        <a href="#dmd" class="next">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <a href="#pac" class="next">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="party">
                    <div class="long">
                        <div class="long-front">
                            <div>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-universal-access"></i></span>
                                    <span>Accessibility</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-cpu"></i></span>
                                    <span>Efficiency</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-shuffle"></i></span>
                                    <span>Flexibility</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-vector-pen"></i></span>
                                    <span>Design</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-palette2"></i></span>
                                    <span>Intuitive navigation</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-arrow-repeat"></i></span>
                                    <span>Instant feedback</span>
                                </a>
                                <a href="#" class="acts">
                                    <span class="acts-fi"><i class="bi bi-three-dots"></i></span>
                                </a>
                            </div>
                            <div class="infos">
                                to make the experience more emotional, more intuitive.
                            </div> 
                        </div>
                    </div>
                    <div class="short">
                        <div class="short-front">
                            <h3>make an order</h3>
                            <a href="#"><i class="bi bi-arrow-down-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ta">
                <div class="prs-head">
                    <h1>Task Automation</h1>
                    <div>
                        <a href="#pac" class="next">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <a href="#msdsp" class="next">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="party">
                    <div class="long">
                        <div class="long-back"></div>
                        <div class="long-front">
                            Repetitive tasks are a waste of time, energy and efficiency, and an annoying redundancy 
                            that can be both costly and time-consuming. With MpiSoftware, 
                            automate your tasks and gain in dynamism and efficiency.
                        </div>
                    </div>
                    <div class="short">
                        <div class="short-back"></div>
                        <div class="short-front">
                            <h3>Request inspection</h3>
                            <a href="#"><i class="bi bi-arrow-down-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="msdsp">
                <div class="prs-head">
                    <h1>Management system design and special products</h1>
                    <div>
                        <a href="#ta" class="next">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <a href="#tpsp" class="next">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="party">
                    <div class="long">
                        <div class="long-back"></div>
                        <div class="long-front">
                            From control systems to customized global management systems for companies and organizations, 
                            we design, manage and develop quality products and modules tailored to your objectives, 
                            your business and your sector of activity.
                        </div>
                    </div>
                    <div class="short">
                        <div class="short-back"></div>
                        <div class="short-front">
                            <h3>Call on our expertise</h3>
                            <a href="#"><i class="bi bi-arrow-down-right"></i></a>
                        </div>
                        
                    </div>
                </div>
            </section>
            <section id="tpsp">
                <div class="prs-head">
                    <h1>Third-party service providers</h1>
                    <div>
                        <a href="msdsp" class="next">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <a href="#tc" class="next">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="party">
                    <div class="long">
                        <div class="long-back"></div>
                        <div class="long-front">
                            The process of computerizing everything is underway, and managing this process, as well as maintaining it, 
                            ensuring its security and making it run smoothly, is a major challenge. through a single Licorn tunnel, 
                            we provide you with a range of services to make your day-to-day life easier, 
                            and enable you to concentrate on the tasks that are most useful to you.
                            <br><br>
                            From sending automated bulk emails, to managing your savings, your business, 
                            your bookings and much more, MpiSoftware's Licorn tunnel helps you focus on what's really important to you.
                        </div>
                    </div>
                    <div class="short">
                        <div class="short-back"></div>
                        <div class="short-front">
                            <h3>Visit the tunnel</h3>
                            <a href="#">
                                <span id="logo"></span>
                                <span>Licorn</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="tc">
                <div class="prs-head">
                    <h1>Training courses</h1>
                    <div>
                        <a href="#tpsp" class="next">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <a href="#wamw" class="next">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="party">
                    <div class="long">
                        <div class="long-back"></div>
                        <div class="long-front">
                            We're in the age of technology, and the demand for technological skills is becoming more and more overwhelming, 
                            but quality in the art of practicing this discipline is still a rare breed.
                            <br>
                            MpiSoftware is committed to serving and contributing to the birth of a new era, 
                            and offers a wide range of training courses to help you gain indisputable expertise.
                        </div>
                    </div>
                    <div class="short">
                        <div class="short-back"></div>
                        <div class="short-front">
                            <h3>See the different offer games</h3>
                            <a href="#"><i class="bi bi-arrow-down-right"></i></a>
                        </div>
                        
                    </div>
                </div>
            </section>
        </div>
        <nav>
            <a href="index.html" id="home">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 155 100" height="30" width="30">
                    <path d="M10 60L10 10Q10 05 05 05L25 05 35 20 45 05 65 05
                            Q60 05 60 10L60 75Q60 80 65 80L90 80Q95 80 95 75
                            L95 10Q95 05 90 05L110 05Q105 05 105 10L105 75
                            Q105 80 110 80L145 80Q150 80 150 75L150 85
                            Q150 90 145 90L10 90Q05 90 05 95L05 85Q05 80 10 80
                            L45 80Q50 80 50 75L50 20 35 40 20 20 20 45
                            Q10 45 10 60z" stroke="aliceblue" fill="aliceblue"/>
                </svg>
            </a>
            <div class="other">
                <a href="about.html">About</a>
                <a href="services.html" class="active">Services</a>
                <a href="contact.html">Contacts</a>
            </div>
        </nav>
    </main>
    <script src="../static/js/script.js"></script>
</body>
</html>